name: Build and Test CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint source code
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.3
        with:
          allowed-endpoints: 
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            gel7acprodeus1file0.blob.core.windows.net:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443

      - name: Check out the source
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0
        with:
          cache: npm
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Lint the source
        run: npm run lint

  ci:
    name: "Run tests (Node.js: ${{ matrix.node_version }}, ESLint: ${{ matrix.eslint_version }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - "8"
          - "10"
          - "12"
          - "14"
          - "16"
          - "18"
        eslint_version:
          - "6"
          - "7"
          - "8"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.3
        with:
          allowed-endpoints: 
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            gel7acprodeus1file0.blob.core.windows.net:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443

      - name: Check out the source
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm

      - name: Install dependencies
        run: npm ci
        if: matrix.node_version != '8'

      - name: Install dependencies
        run: npm i
        if: matrix.node_version == '8'

      - name: Install ESLint
        run: npm i eslint@${{ matrix.eslint_version }} --legacy-peer-deps

      - name: Run tests
        run: npm test
